@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Istok+Web&family=Poppins:wght@300&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: NICOMOJI;
  src: url(NicoMoji-Regular.ttf);
}

.nav-right {
  display: flex;
  background-color: rgb(255, 255, 255);
  margin-left: 58%;
  justify-content: center;
}
#logo {
  width: 150px;
  height: 100px;
  margin-top: -30px;
}
.nav-right a {
  margin-left: 20px;
  font-family: "Istok Web", sans-serif;
  font-weight: bold;
}
#navbar a {
  margin: 10px;
  font-family: "Istok Web", sans-serif;
  font-weight: bold;
}
.active {
  font-size: 1rem;
  text-decoration: underline;
  font-weight: 800;
}

.contacts {
  margin-top: 2%;
  margin-left: 7%;
  display: flex;
  align-items: center;
}
.contact-text {
  color: #0c0a21;
  font-family: Istok Web;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  text-transform: capitalize;
}
.contact-line {
  width: 180px;
  height: 1px;
  background: #0c0a21;
  margin-left: 4px;
}
iframe {
  width: 260%;
  height: 345px;
}
.map {
  margin-top: 2%;
  width: max-content;
  height: fit-content;
  margin-left: 20%;
}

.left {
  margin-right: 10px;
  line-height: 25px;
}

.right {
  margin-left: 30px;
}

form {
  padding: 6% !important;
  width: 85%;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  gap: 20px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

.form-group.label-top {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-group.label-top label {
  flex-basis: 100%;
}

.form-group.message-group {
  position: relative;
}

.form-group.message-group textarea {
  padding-right: 40px;
}

.form-group.message-group button.submit-icon {
  background-color: rgba(56, 62, 65, 1);

  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.form-group.message-group button.submit-icon:hover {
  background-color: white;
  border-radius: 2px;
  border-width: 2px;
  border: 2px solid black;
  border-color: #0c0a21;
  color: rgba(56, 62, 65, 1);
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.5s;
}

input {
  width: 100%;
  padding: 3px;
  line-height: 20px;
  padding-left: 10px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #0c0a21, black) border-box;
  border-radius: 10px;
  border: 2px solid transparent;
}

input::placeholder {
  font-weight: lighter;
  padding-left: 10px;
  color: #0c0a21;
  font-family: "Istok Web", sans-serif;
}

input:focus::placeholder {
  color: white;
}

textarea {
  width: 100%;
  padding: 3px;
  line-height: 20px;
  padding-left: 10px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #0c0a21, black) border-box;
  border-radius: 10px;
  border: 2px solid transparent;
}

textarea::placeholder {
  padding-top: 10px;
  font-weight: lighter;
  padding-left: 10px;
  color: #0c0a21;
  font-family: "Istok Web", sans-serif;
}

textarea:focus::placeholder {
  color: white;
}

#subject {
  width: 100%;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loc {
  display: flex;
  flex-direction: column;
}
#h1-footer {
  justify-content: center;
  text-align: center;
  font-size: 15px; /* 14px / 16px = 0.875rem */
  font-weight: bold;
  font-family: "Istok Web", sans-serif;
  margin-top: 40px;
}
#footer-text {
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  margin-left: 20px; /* Assuming 20% of the parent container's width is equivalent to 1.25rem */
  margin-right: 1.4375rem; /* Assuming 23% of the parent container's width is equivalent to 1.4375rem */
}
#footer-ul {
  text-align: center;
  margin-left: 0px;
  background-color: rgb(255, 255, 255);
  width: 100%;
}
ul li {
  display: inline;
  margin-right: 80px;
}
#footer-ul img {
  width: 1.25rem;
  height: 1.25rem;
  margin-bottom: -0.1875rem;
  max-width: 12.5rem;
}
#blue {
  background-color: rgb(255, 255, 255);
  margin-top: 50px;
  display: flex;
  margin-left: 0px;
}
#locationimg {
  max-width: 20px;
  max-height: 20px;
}
#locationimg1 {
  max-width: 20px;
  max-height: 20px;
}
@media (max-width: 428px) {
  .contacts {
    display: flex;
    align-items: center;
  }
  .contact-text {
    color: #0c0a21;
    font-family: Istok Web;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    text-transform: capitalize;
  }
  .contact-line {
    width: 10px;
    height: 1px;
    background: #0c0a21;
    margin-left: 4px;
  }

  .map {
    margin-top: 2%;
  }
  iframe {
    margin-left: 0px;
    width: 70%;
    height: 300px;
  }
  .left {
    margin-right: 0px;
    margin-top: 10px;
    margin-left: 20px;
  }

  .right {
    margin-left: 0px;
  }
  form {
    padding: 6% !important;
    width: 100%;
  }
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    gap: 20px;
    flex-direction: column;
  }

  .form-group {
    flex: 1;
    margin-right: 10px;
  }

  .form-group.label-top {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .form-group.label-top label {
    flex-basis: 100%;
  }

  .form-group.message-group {
    position: relative;
  }

  .form-group.message-group button.submit-icon {
    right: 0px;
    bottom: 40px;
    background-color: rgba(56, 62, 65, 1);
    color: white;
    border: none;
    cursor: pointer;
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .loc {
    display: flex;
    flex-direction: column;
  }
  #logo {
    width: 100px;
    height: 50px;
    margin-top: -20px;
    margin-left: -20px;
  }
  #h1-footer {
    justify-content: center;
    text-align: center;
    font-size: 15px; /* 14px / 16px = 0.875rem */
    font-weight: bold;
    font-family: "Istok Web", sans-serif;
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
  }
  #footer-text {
    display: flex;
    background-color: rgb(113, 0, 78);
    align-items: center;
    justify-content: center;
    max-width: 200px;
  }
  #footer-ul {
    margin-top: 0px;
    align-items: flex-end;
    background-color: rgb(255, 255, 255);
    display: flex;
    max-width: 100%;
  }
  ul li {
    display: flex;
    margin: 0;
    margin-right: 0px;
    margin-left: 0px;
    background-color: rgb(255, 255, 255);
    margin-left: 60px;
    padding-bottom: 20px;
  }
  #footer-ul img {
    width: 20px;
    height: 20px;
    max-width: 60px;
    display: inline;
  }
  #blue {
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 0px;
    bottom: 0;
    margin-top: 100px;
  }
  .instagram-text {
    display: none;
  }
  ul {
    margin: -35px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #navbar .nav-right {
    margin-left: 40%;
  }
  #hhh {
    display: none;
  }
  iframe {
    width: 260%;
    height: 345px;
  }
  .map {
    margin-top: 2%;
    width: max-content;
    height: fit-content;
    margin-left: 6%;
  }
  .left {
    margin-right: 0px;
    margin-top: 10px;
    margin-left: 50px;
  }
}
