@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Istok+Web&family=Poppins:wght@300&display=swap");

.nav-right {
  display: flex;
  background-color: rgb(255, 255, 255);
  margin-left: 58%;
  justify-content: center;
}
.nav-right a {
  margin-left: 20px;
  font-family: "Istok Web", sans-serif;
  font-weight: bold;
}
#navbar a {
  margin: 10px;
  font-family: "Istok Web", sans-serif;
  font-weight: bold;
}
.w3-container {
  background-color: rgb(255, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
#content {
  margin: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}
#content h1 {
  font-family: "Istok Web", sans-serif;
  font-weight: bolder;
  font-size: 30px;
}
#emp {
  font-family: "Istok Web", sans-serif;
  font-size: 17px;
  font-style: italic;
  margin-top: -7px;
}
#con {
  font-family: "Istok Web", sans-serif;
  font-size: 17px;
}

#column {
  margin: 0px;
  background-color: rgb(255, 255, 255);
  margin-left: 50px;
}

#mobapp {
  background-color: rgba(56, 62, 65, 1);
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  position: relative;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 800px;
  margin: 0px;
  margin-right: 30px;
}
#mobapp h2 {
  font-size: 15px;
}
#triangle {
  width: 0;
  height: 0;
  border-left: 43px solid transparent;
  border-right: 43px solid transparent;
  border-bottom: 17px solid rgba(56, 62, 65, 1);
  position: absolute;
  transform: rotate(90deg) translate3d(-83.5px, -255px, 0);
  border-radius: 2px;
  display: none;
}
#mobcont {
  font-family: "Istok Web", sans-serif;
  text-align: left;
  font-size: 17px;
  font-weight: lighter;

  padding-top: 0px;
}
#circle {
  content: "";
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  border: 1px solid black;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin: 0px;
  position: absolute;
  transform: translate3d(-720px, 0px, 0px);
}
.w3-container #mob {
  width: 55px;
  height: 55px;
  margin: 0px;
}
#mobapp1 {
  background-color: rgba(56, 62, 65, 1);
  padding: 30px;
  padding-left: 50px;
  padding-right: 15px;
  text-align: center;
  position: relative;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 800px;
  margin: 0px;
  margin-right: 30px;
}
#mobapp1 h2 {
  font-size: 15px;
}
#mobapp2 {
  background-color: rgba(56, 62, 65, 1);
  padding: 30px;
  padding-left: 50px;
  padding-right: 15px;
  text-align: center;
  position: relative;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 800px;
  margin: 0px;
  margin-right: 30px;
  margin-top: 10px;
}
#mobapp2 h2 {
  font-size: 15px;
}
#mobapp3 {
  background-color: rgba(56, 62, 65, 1);
  padding: 30px;
  padding-left: 50px;
  text-align: center;
  position: relative;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 690px;
  margin: 0px;
  margin-top: 10px;
  margin-right: 30px;
}
#mobapp3 h2 {
  font-size: 15px;
}
#mobapp4 {
  background-color: rgba(56, 62, 65, 1);
  padding: 30px;
  padding-left: 50px;
  text-align: center;
  position: relative;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 770px;
  margin: 0px;
  margin-top: 10px;
  margin-right: 30px;
}
#mobapp4 h2 {
  font-size: 15px;
}
#mobapp5 {
  background-color: rgba(56, 62, 65, 1);
  padding: 30px;
  text-align: center;
  position: relative;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 320px;
  margin: 0px;
  margin-top: 10px;
  margin-right: 30px;
  margin-left: -240px;
}
#mobapp5 h2 {
  font-size: 15px;
}
@media (max-width: 428px) {
  #circle {
    display: none;
  }
  #column {
    margin: 0px;
    background-color: rgb(255, 255, 255);
    margin-left: 50px;
    display: flex;
    flex-direction: column;
  }

  #mobapp {
    background-color: rgba(56, 62, 65, 1);
    padding: 0px;

    text-align: center;
    position: relative;
    color: white;
    display: flex;
    margin-left: -140px;
    width: 500px;
  }
  #mobapp h2 {
    font-size: 15px;
    text-align: left;
  }
  #mobapp1 {
    background-color: rgba(56, 62, 65, 1);
    padding: 0px;

    text-align: center;
    position: relative;
    color: white;
    display: flex;
    margin-left: -220px;
    width: 600px;
  }
  #mobapp1 h2 {
    font-size: 15px;
    text-align: left;
  }
  #mobapp2 {
    background-color: rgba(56, 62, 65, 1);
    padding: 0px;

    text-align: center;
    position: relative;
    color: white;
    display: flex;
    margin-left: -230px;
    width: 600px;
  }
  #mobapp2 h2 {
    font-size: 15px;
    text-align: left;
  }
  #mobapp3 {
    background-color: rgba(56, 62, 65, 1);
    padding: 0px;

    text-align: center;
    position: relative;
    color: white;
    display: flex;
    margin-left: -250px;
    width: 600px;
  }
  #mobapp3 h2 {
    font-size: 15px;
    text-align: left;
  }
  #mobapp4 {
    background-color: rgba(56, 62, 65, 1);
    padding: 0px;

    text-align: center;
    position: relative;
    color: white;
    display: flex;
    margin-left: -200px;
    width: 600px;
  }
  #mobapp4 h2 {
    font-size: 15px;
    text-align: left;
    margin-left: 0px;
  }
  #mobapp5 {
    background-color: rgba(56, 62, 65, 1);
    padding: 0px;

    text-align: center;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 650px;
  }
  #mobapp5 h2 {
    font-size: 15px;
    text-align: center;
  }
}
